{% extends "base.html" %}
{% block content %}
    <h1>{{post.title}}</h1>
    <h2>{{post.description}}</h2>   
    <hr>
    {% if not post.comments.all %}
        add comment...
    {% else %}
        {% for comment in post.comments.all %}
        <strong>{{comment.user}}, {{comment.date}}</strong><br>
        <p>{{comment.content}}</p>
        {% endfor %}
    {% endif %}
    <hr>
    <form method="POST">
        {% csrf_token %}
        {{form}}
        <button type='submit'>Submit</button>
    </form>
{% endblock content %}